@page
@model Remotely.Server.Pages.ProcessesModel
@inject IDataService  DataService
@{
    ViewData["Title"] = "Running Processes";
    var currentUser = DataService.GetUserByName(User.Identity.Name);
    var devices = DataService.GetAllDevices(currentUser.OrganizationID);
    var isAdmin = currentUser.IsAdministrator;

}

<h4>@ViewData["Title"]</h4>

<div class="accordion" id="myAccordion">
   @foreach (var item in devices.Where(d => d.IsOnline))
   {
      <div class="card">
         <div class="card-header" id="@item.ID ">
            <h2 class="mb-0">
               <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse_@item.ID ">@item.DeviceName </button>
            </h2>
         </div>
         <div id="collapse_@item.ID " class="collapse show" aria-labelledby="@item.ID " data-parent="#myAccordion">
            <div class="card-body">
               <table class="table table-sm">
                  <thead>
                     <tr>
                        <th scope="col">Process ID</th>
                        <th scope="col">Process Name</th>
                     </tr>
                  </thead>
                  <tbody>
                     @foreach (var p in item.Processes)
                     {
                        <tr>
                           <th scope="row">@p.ID </th>
                           <td>@p.Name </td>
                        </tr>
                     }


                  </tbody>
               </table>
            </div>
         </div>
      </div>
      }

   
</div>
